@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');



:root {
    /* Colors */
    --blanc-cassé: #FFFEFA; 
    --maron-clair: #EADEC8;
    --maron-clair-transparence: #eadec880;
    --maron: #C9B29C;
    --maron-foncé: #7A655A;
    --vert-clair: #E7EAC8;
    --vert: #CBD4AF;
    --vert-focé: #9EB87A;
    --jaune-clair: #FBDED0;
    --jaune: #F0CCA8;
    --jaune-foncé: #E0B152;
    --rouge-clair: #E8C9D6;
    --rouge: #D9A6AE;
    --rouge-foncé: #BA5E5E;
    /* Style */
    --angles-arondis: 10px;
    --angles-arondis-boutons: 1000px;
    --nav-height: 60px;
    --fullscreen: calc(720px - var(--nav-height) - 50px);
  }

* {
    font-family: "League Spartan", serif;
    margin: 0px;
}

/* Blocks */
body {
    background-color: var(--blanc-cassé);
    color: var(--maron-foncé);
}

/* Nav */
nav {
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
    width: 100%;
    background-color: var(--maron-foncé);
}

nav > a {
    font-size: 2.5em;
    font-weight: 850;
}
    

nav a {
    color: var(--blanc-cassé);
    text-decoration: none;
    padding: 10px 15px;
    margin: 0px 15px;
}

/* Sections */

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--fullscreen);
    background-image: url(medias/ouvriers-bâtiment.jpg);
    background-size: cover;
    background-position: center;
    color: var(--blanc-cassé);
}

#hero p {
    font-size: 1.9em;
    width: 700px;
    margin: 15px;
    text-align: center;
}

#hero button {
    font-size: 1.2em;
}

#app-mockup {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--maron-clair-transparence);
}

#container-app {

    display: flex;
    justify-content: center;
    gap: 30px;
}

#container-app img {
    width: 30%;
    height: auto;
}

#left li {
    padding: 10px;
}

#left div {
    margin-top: 40px;
}

#btn2 {
    background-color: var(--maron-foncé);
    color: var(--blanc-cassé);
    margin-left: 20px;
}

#btn2:hover {
    transform: scale(1.07);
    background-color: var(--maron);
}

#chiffres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 60px;
}

#chiffres > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#chiffres h3 {
    padding: 20px;
    text-align: center;
}

#chiffres > p {
    text-align: center;
    margin: 10px auto;
}

#chiffres a {
    color: var(--maron-foncé);
    font-style: italic;
}

.chiffres-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height: 100px;
    padding: 20px;
    margin: 20px 80px;
    border-radius: var(--angles-arondis);
    background-color: var(--maron-clair);
}

.chiffres-card p {
    margin-left: 40px;
}

#counter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: var(--fullscreen);
    background-color: var(--maron-clair-transparence);
}

#counter > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70%;
}

.counter-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 90%;
    width: 20%;
    background-color: var(--maron-clair);
    border-radius: var(--angles-arondis);
}

.counter-number {
    font-size: 100px;
    font-weight: 700;
}

.fullscreen {
    height: var(--fullscreen);
    padding-top: calc(var(--nav-height) + 30px);
    padding-bottom: 50px;
}

.maron-clair {
    background-color: var(--maron-clair);
}

#projet {
    height: var(--fullscreen);
}

#projet > div {
    display: flex;
    align-items: center;
    gap: 75px;
    padding-left: 75px;
    padding-right: 75px;
}

.img-shadow {
    box-shadow: 5px 5px 15px hsla(0, 0%, 50%, 0.2);
}

/* Fonctionnalités */
#fonctionnalites {
    padding-top: calc(var(--nav-height) + 30px);
    background-color: var(--maron-clair-transparence);
}

#fonctionnalites h2 {
    padding-bottom: 0px;
}

#fonctionnalites .fullscreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    padding: 30px 75px;
}

#about-us > p {
    text-align: center;
    margin: 20px auto;
    width: 90%;
}

.card-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 40px auto;
}

.profile-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
    gap: 10px;
    background-color: var(--maron-clair);
    border-radius: var(--angles-arondis);
}

.profile-card img {
    width: 50%;
    height: auto;
}

.profile-card p {
    padding: 10px;
    text-align: center;
    font-size: .8em;
}

/* Inlines */
h1 {
    font-size: 4.5em;
    font-weight: 850;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding-bottom: var(--nav-height);
}

h3 {
    font-size: 1.5em;
    padding-bottom: 20px;
}

p {
    font-size: 1.3em;
    line-height: 1.3em;
}

div p {
    margin: 15px 0px;
}

a {
    color: var(--blanc-cassé);
    text-decoration: none;
}

i {
    font-size: 65px;
}

img {
    height: 400px;
    width: auto;
}

button {
    background-color: var(--maron-clair);
    color: var(--maron-foncé);
    border-radius: var(--angles-arondis-boutons);
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: 500;
    transition: transform 0.5s, background-color 0.5s, color 0.5s;
}

button:hover {
    transform: scale(1.07);
    background-color: var(--maron);
    color: var(--blanc-cassé);
    cursor: pointer;
}


footer {
    position: sticky;
    z-index: 1000;
    height: 300px;
    background-color: var(--maron-foncé);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px;
}

footer p {
    font-size: .8em;
    color: white;
    margin-left: 60px;
    
}

.footer-left {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

#footer-logo {
    font-size: 2.5em;
    font-weight: 850;
    
}


.download {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.download img {
    border: white 1px solid;
    width: 136px;
    height: auto;
}

.site-plan {
    border-left: white 1px solid;
}

.site-plan ul li {
    margin: 20px;
}
/* Forms */
form {
    width: 300px;
    height: 200px;
    margin-top: 40px;
}

form > input, textarea, button {
    margin: 3px auto;
}

input {
    height: 25px;
}

input, textarea {
    width: 280px;
    border-radius: var(--angles-arondis);
    border: none;
}

input::placeholder, textarea::placeholder {
    color: var(--maron);
    padding: 5px;
}
